<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="/css/index.css">
    <link rel="stylesheet" href="/css/notify.css">
    <link href="https://fonts.googleapis.com/css2?family=Quicksand&display=swap" rel="stylesheet">
</head>
<body>
    <div id="content">
        <div class="noti" id="noti"></div>
        <div id="form-container">
            <form id="form">
                <h2 id="form-header">Chat with Node.JS and Socket.IO</h2>
                <input class="form-text" id="nickname" name="nickname" type="text" placeholder="Nickname"/>
                <button type="submit" class="button-success" title="Go">Go</button>
            </form>
        </div>
    </div>
<script src="/socket.io/socket.io.js"></script>
<script type="module" src="/js/start.js"></script>
<script type="module" src="/js/notify.js"></script>
</body>
</html>