/* INDEX */

* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    font-family: 'Quicksand', sans-serif;
    text-decoration: none;
}

body,
html {
    height: 100%;
}

#content {
    background-image: url("../img/background.png");
    min-height: 100vh;
    width: auto;
}

#form {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    background-color: whitesmoke;
    border-radius: 2em;
    padding: 20px;
    height: 100%;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-shadow: 0px 0px 40px 5px black;
    box-shadow: 0px 0px 40px 5px black;
}

#form-container {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

#form-container>* {
    display: block;
}

#form-header {
    color: black;
}

.form-text {
    display: block;
    width: 100%;
    padding: 10px;
    margin: 20px 0px 20px 0px;
}

.button-success {
    color: white;
    background-color: green;
    font-size: 15px;
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    outline: 0;
    cursor: pointer;
}

.button-success:active {
    background-color: #007700;
}

.button-success:active {
    background-color: #007700;
}

.noti {
    position: fixed;
    top: 25px;
    left: 50%;
    transform: translateX(-50%);
}

/* CHAT */

#chat {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
    max-width: 500px;
    height: 600px;
    background-color: whitesmoke;
    -webkit-box-shadow: 0px 0px 40px 5px black;
    box-shadow: 0px 0px 40px 5px black;
}

#chat-header {
    padding: 10px;
    font-size: 20px;
    font-weight: bold;
    background-color: darkcyan;
    color: white;
}

#nickname {
    font-weight: lighter;
}

#chat-footer {
    width: 100%;
}

#container-footer>form {
    background: #f5f5f5;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

#input-message {
    width: 100%;
    height: auto;
    padding: 5px;
    font-size: 16px;
    font-weight: 600;
}

.button-primary-no-radius {
    color: white;
    background-color: cornflowerblue;
    font-size: 15px;
    padding: 10px 20px;
    border: none;
    outline: 0;
    cursor: pointer;
}

#chat-content {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    position: relative;
}

.content-messages {
    overflow: auto;
    flex-grow: 1;
    padding: 15px;
}

.self-message {
    position: relative;
    color: white;
    background-color: green;
    padding: 10px;
    border-radius: 10px;
    margin: 5px;
    float: right;
    padding-right: 60px;
    word-break: break-all;
}

.other-message>small {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}

.other-message {
    position: relative;
    color: white;
    background-color: rgb(71, 68, 68);
    padding: 10px;
    border-radius: 10px;
    margin: 5px;
    float: left;
    padding-right: 60px;
    word-break: break-all;
}

.time-message {
    position: absolute;
    font-size: x-small;
    font-weight: bold;
    right: 10px;
    bottom: 10px;
}

.message-hint {
    color: gray;
    padding: 5px;
    margin: 5px;
    font-weight: bold;
    text-align: center;
}

.wrap-message {
    display: inline-block;
    width: 100%;
}

#writing-info {
    font-style: italic;
    font-size: small;
    font-weight: bold;
    padding: 10px;
}

/* Scrollbar */
::-webkit-scrollbar {
    background-color: rgba(255, 255, 255, .16);
    width: 10px;
}

::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, .2);
}